<!DOCTYPE html>
@{
    Layout = null;
}

@model  startravel_web.Models.step2_view_return_data
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/star-ui")

@Scripts.Render("~/bundles/modernizr")
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>燦星旅遊-出國旅遊第一選擇，夢想般國外旅遊行程</title>
    <link rel="shortcut icon" href="~/Content/images/star-icon.png" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.css">
    <link href="~/Content/main.css" rel="stylesheet" type="text/css">
    <link href="~/Content/HeaderFooter.css" rel="stylesheet" type="text/css">
    <link href="~/Content/step-css.css" rel="stylesheet" type="text/css">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js 讓 IE8 支援 HTML5 元素與媒體查詢 -->
    <!-- 警告：Respond.js 無法在 file:// 協定下運作 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
        </script>
    }



@using (Html.BeginForm("order", "Step3", FormMethod.Post, new { enctype = "multipart/form-data", name = "orderForm", id = "orderForm" }))
{
    <!-- header======================================================================= -->
    <div class="header-03">
        <div class="star-container">
            <div class="header-rainbow">
                <img src="~/Content/images/rainbow.png" alt="">
            </div>
            <a class="header-logo" href="http://www.startravel.com.tw/" title="">
                <img src="~/Content/images/logo-text.png" alt="">
            </a>
        </div>
    </div>



    <!-- 內容區塊===================================================================== -->
    <div class="content content-white">
        <div class="star-container">
            <!-- step -->
            <div class="step">
                <img class="img-responsive" src="~/Content/images/step02.png" alt="">
            </div>
            <div class="step-mobile">
                <span>2</span>
                填寫訂購資訊
                <a href="~/step1/index.html" title="">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
            </div>



            @{
                DateTime igrptraffic_s = DateTime.ParseExact(Html.DisplayFor(model => model.igrptrafficinfo_result.Data[0].date_at).ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture);
                DateTime igrptraffic_e = DateTime.ParseExact(Html.DisplayFor(model => model.igrptrafficinfo_result.Data[1].date_at).ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture);
                DateTime igrptraffic_s_d = DateTime.ParseExact(Html.DisplayFor(model => model.igrptrafficinfo_result.Data[0].depart_time).ToString(), "HHmmss", System.Globalization.CultureInfo.InvariantCulture);
                DateTime igrptraffic_s_a = DateTime.ParseExact(Html.DisplayFor(model => model.igrptrafficinfo_result.Data[0].arrive_time).ToString(), "HHmmss", System.Globalization.CultureInfo.InvariantCulture);
                DateTime igrptraffic_e_d = DateTime.ParseExact(Html.DisplayFor(model => model.igrptrafficinfo_result.Data[1].depart_time).ToString(), "HHmmss", System.Globalization.CultureInfo.InvariantCulture);
                DateTime igrptraffic_e_a = DateTime.ParseExact(Html.DisplayFor(model => model.igrptrafficinfo_result.Data[1].arrive_time).ToString(), "HHmmss", System.Globalization.CultureInfo.InvariantCulture);


                string[] room_count_arrary = Html.DisplayFor(model => model.room_count).ToString().Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                string[] visa_list = Html.DisplayFor(model => model.visa_list).ToString().Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                string[] psub_list = Html.DisplayFor(model => model.psub_list).ToString().Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                string[] insu_list = Html.DisplayFor(model => model.insu_list).ToString().Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);

             


            }





            <!-- mainInfo -->
            <div class="mainInfo mb-40">
                <h3 class="orderInfo-title"><i class="glyphicon glyphicon-tags"></i> 訂購資訊</h3>
                <div class="orderInfo-block">
                    @Html.Raw(Server.HtmlDecode(Html.DisplayFor(model => model.grpproductdetail_result.Data.PROD_NAME).ToString()))
                    <div class="orderInfo-block-1">
                        <div>行程日期｜</div>
                        <div>@igrptraffic_s.ToString("MM/dd(ddd)")～@igrptraffic_e.ToString("MM/dd(ddd)")</div>
                    </div>
                    <div class="orderInfo-block-1">
                        <div>交通資訊｜</div>
                        <div>
                            航班參考<br>
                            去程：@igrptraffic_s_d.ToString("HH:mm") @Html.DisplayFor(model => model.igrptrafficinfo_result.Data[0].city_from_name).ToString() @igrptraffic_s_a.ToString("HH:mm") @Html.DisplayFor(model => model.igrptrafficinfo_result.Data[0].city_to_name).ToString() @Html.DisplayFor(model => model.igrptrafficinfo_result.Data[0].air_name).ToString() @Html.DisplayFor(model => model.igrptrafficinfo_result.Data[0].air_no).ToString() <br>
                            回程：@igrptraffic_e_d.ToString("HH:mm") @Html.DisplayFor(model => model.igrptrafficinfo_result.Data[1].city_from_name).ToString() @igrptraffic_e_a.ToString("HH:mm") @Html.DisplayFor(model => model.igrptrafficinfo_result.Data[1].city_to_name).ToString() @Html.DisplayFor(model => model.igrptrafficinfo_result.Data[1].air_name).ToString() @Html.DisplayFor(model => model.igrptrafficinfo_result.Data[1].air_no).ToString()

                        </div>
                    </div>
                    <div class="orderInfo-block-1">
                        <div>住宿飯店｜</div>
                        <div>參考行程介紹之團體飯店</div>
                    </div>
                    <div class="orderInfo-block-1">
                        <div>房型人數｜</div>
                        <div>
                            @{
                                int total_room = 0;
                                int total_price = 0;
                            }
                            @for (int i = 0; i < Model.grppriceinfo_result.Data.Count; i = i + 1)
                            {
                                var item = Model.grppriceinfo_result.Data[i];
                             
                                for (int j = 0; j < item.Role_Type.Count; j = j + 1)                                  
                                {
                                    var item_s = item.Role_Type[j];
                                  

                                    int current_price = int.Parse(item_s.Price.ToString(), System.Globalization.NumberStyles.AllowThousands | System.Globalization.NumberStyles.AllowDecimalPoint);

                                    var room_no = room_count_arrary[total_room];


                                    if (j == 0 && !room_no.Equals("0"))
                                   { 
                                      @Html.DisplayFor(modelitem => item.Category_name).ToString() @:
                                   }
                                    
                                    
                                    if (room_no.Equals("0"))
                                    {
                                        @:
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelitem => item_s.Type_name).ToString() @:  @room_no 人
                                        total_price = int.Parse(room_no) * current_price + total_price;
                                    }

                                    total_room = total_room + 1;
                                }
                                <br>
                            }
                        </div>
                    </div>
                    <div class="orderInfo-block-1">
                        @{int total_price_d = int.Parse(total_price.ToString(), System.Globalization.NumberStyles.AllowThousands | System.Globalization.NumberStyles.AllowDecimalPoint);}
                        應付總額 <span>@total_price_d.ToString("#,#")</span> 元
                    </div>

                </div>
            </div>

            



               

                <!-- 填寫旅客資料 -->
                <div class="passengerInformation mb-20">
                    <span class="text-purple text-bold h3">旅客資料</span>
                    <span class="text-orange">*為必填</span>
                </div>

            @{
                int total_passenger_count = 0;
                total_room = 0;
            }
           @for (int x= 0; x< Model.grppriceinfo_result.Data.Count; x= x + 1)
           {
               var item = Model.grppriceinfo_result.Data[x];
              // @Html.DisplayFor(modelitem => item.Category_name).ToString() @:
              for (int y = 0; y < item.Role_Type.Count; y = y + 1)
              {

                  var room_no = room_count_arrary[total_room];
                  
                  if(!room_no.Equals("0"))
                  {
                       for(int k=0;k<int.Parse(room_no);k=k+1)
                       {
                           
                                         
                          var item_s = item.Role_Type[y];
                <!-- 旅客1 -->
                <div class="passengerInfo ">
                    <div class="passengerInfo-title">
                        旅客 @(total_passenger_count+1)<span> @Html.DisplayFor(modelitem => item_s.Type_name).ToString() (@Html.DisplayFor(modelitem => item.Category_name).ToString()) </span>
                    </div>
                      <input type="hidden" id="room_type_@total_passenger_count" name="room_type_@total_passenger_count" value="@item_s.Type_no">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    @Html.DropDownList("passenget_item_" + total_passenger_count, (IEnumerable<SelectListItem>)ViewBag.CategoryItems, "請選擇旅客資料", new { id = "passenget_item_" + total_passenger_count, onchange = "droplist_select("+total_passenger_count+")" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="joinTheList">
                                    <input class="star-input" type="checkbox" id="add_@(total_passenger_count)" name="add_@(total_passenger_count)" value="0" onclick="add_passengerlist('@Html.DisplayFor(modelitem => total_passenger_count)')">
                                    <label for="add_@(total_passenger_count)"></label>
                                    <a href="javascript:;" title="">加入常用旅客名單</a>

                                </div>
                            </div>
                        </div>
                        <div class="row mb-20">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label>中文姓名 <span class="text-orange">*</span></label>
                                    <div class="star-input-group input-group">
                                        <input type="text" class="ch_name_1 form-control passengerInfo_first_c_name_@total_passenger_count" placeholder="姓" required="required">
                                        <input type="text" class="ch_name_2 form-control passengerInfo_last_c_name_@total_passenger_count" placeholder="名" required="required">
                                        <div class="err-text" id="ch_err">請填寫中文姓名</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>英文姓名</label>
                                    <div class="star-input-group input-group">
                                        <input type="text" class="en_name_1 form-control passengerInfo_first_e_name_@total_passenger_count" placeholder="姓Last Name">
                                        <input type="text" class="en_name_2 form-control passengerInfo_last_e_name_@total_passenger_count" placeholder="名First Name">
                                        <div class="err-text" id="en_err">請填寫英文姓名</div>
                                    </div>
                                </div>
                                <p class="text-orange">
                                    提醒您！請確認您所填寫的英文姓名須與該旅客護照上相同，請勿填寫符號及空格，避免錯誤變更產生修改費用。
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <label>身分證字號 / 護照號碼 <span class="text-orange">*</span></label>
                                    <input type="text" class="id_num form-control  passengerInfo_id_no_@total_passenger_count" placeholder="" required>
                                    <div class="err-text" id="id_err">請填寫身分證字號 / 護照號碼</div>
                                </div>
                                <div class="form-group">
                                    <label>性別</label>
                                    <select class="passengerinfo_sex_@total_passenger_count sex">
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <label>出生日期 <span class="text-orange">*</span></label>
                                    <input type="text" class="birthday form-control  passengerInfo_birthday_@total_passenger_count" placeholder="請輸入西元年/月/日，如1979/05/05" required>
                                    <div id="birth_err" class="err-text"></div>
                                </div>
                                <div class="form-group">
                                    <label>特殊飲食</label>
                                    <select class="passengerInfo_food_@total_passenger_count">
                                        <option value="01">不拘</option>
                                        <option value="BBML">嬰兒餐</option>
                                        <option value="CHML">兒童餐</option>
                                        <option value="FPML">水果餐</option>
                                        <option value="HNML">不吃牛</option>
                                        <option value="VGML">素食餐</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <span class="text-bold h3">加購商品</span>
                        @if ((x+y+k)==0)
                        {
                        <div class="addAllbtn">
                            <input class="star-input" type="checkbox" id="addAll"  onclick="addall_click()" >
                            <label for="addAll"></label>套用所有同身份別旅客
                            <input type="hidden" id="addall_hidden" name="addall_hidden" value="0">
                        </div>
                        }
                    <div class="addAllcost" id="addAllcost_@total_passenger_count" >
                        加購合計<span>0</span> 元 /人
                    </div>
                    <input type="hidden" id="addallcost_hidden_@total_passenger_count" name="addallcost_hidden_@total_passenger_count" value="0">

                        <div class="pl-15 pr-15 mt-20 mb-20">
                            <div class="star-panel-group panel-group add_panel add_pannel_@total_passenger_count" id="accordion3" role="tablist" aria-multiselectable="true">


                                 @if (Model.pusb_count>0)
                                 {
                                <!-- 區塊1 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="panel2">
                                        <h4 class="panel-title">
                                            <a href="#ddd_@total_passenger_count" data-parent="#accordion4" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="ddd_@total_passenger_count">
                                                附屬商品
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ddd_@total_passenger_count" class="panel-collapse collapse " role="tabpanel" aria-labelledby="panel2">
                                        <div class="panel-body">



                                            @for (int i = 0; i < Model.pusb_count; i = i + 1)
                                            {
                                                int arrary_num_pusb = int.Parse(psub_list[i]);
                                                <div class="addItem">
                                                    <div class="row mb-20">
                                                        <div class="col-xs-12 col-sm-8">
                                                            <input class="star-input checkbox" type="checkbox" id="add_@(i)_pusb_@total_passenger_count" name="payment3" value="" onchange="checkBox_pusb('@Html.DisplayFor(modelitem=> i),@Html.DisplayFor(modelitem => arrary_num_pusb),@Html.DisplayFor(modelitem => total_passenger_count)')">
                                                            <label for="add_@(i)_pusb_@total_passenger_count"></label>@Html.DisplayFor(model => model.grpaddpurchase_result.Data[arrary_num_pusb].PROD_SUB_NAME).ToString()
                                                        </div>
                                                        <div class="addItem-price col-xs-12 col-sm-4">
                                                            @{ int prod_sub_price_d = int.Parse(Html.DisplayFor(model => model.grpaddpurchase_result.Data[arrary_num_pusb].PROD_SUB_PRICE).ToString(), System.Globalization.NumberStyles.AllowThousands | System.Globalization.NumberStyles.AllowDecimalPoint);}
                                                            成人<span class="text-orange">@prod_sub_price_d</span>元
                                                        </div>
                                                    </div>
                                                </div>
                                            }



                                        </div>
                                    </div>
                                </div>
                                 }
                                 @if (Model.visa_count>0)
                                 {
                                <!-- 區塊2 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="panel3">
                                        <h4 class="panel-title">
                                            <a href="#bbb_@total_passenger_count" data-parent="#accordion4" data-toggle="collapse" role="button" class="collapsed" aria-expanded="false" aria-controls="bbb_@total_passenger_count">
                                                證照
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="bbb_@total_passenger_count" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel3">
                                        <div class="panel-body">

                                            @for (int i = 0; i < Model.visa_count; i = i + 1)
                                            {
                                                var check_box_num_visa = i + Model.pusb_count;
                                                int arrary_num_visa = int.Parse(visa_list[i]);
                                                <div class="addItem">
                                                    <div class="row mb-20">
                                                        <div class="col-xs-12 col-sm-8">
                                                            <input class="star-input" type="checkbox" id="add_@(i)_visa_@total_passenger_count" name="payment3" value="false" onchange="checkBox_visa('@Html.DisplayFor(modelitem => i),@Html.DisplayFor(modelitem => arrary_num_visa),@Html.DisplayFor(modelitem => total_passenger_count)')">
                                                            <label for="add_@(i)_visa_@total_passenger_count"></label>@Html.DisplayFor(model => model.grpaddpurchase_result.Data[arrary_num_visa].PROD_SUB_NAME).ToString()
                                                        </div>
                                                        <div class="addItem-price col-xs-12 col-sm-4">
                                                            @{ int prod_visa_price_d = int.Parse(Html.DisplayFor(model => model.grpaddpurchase_result.Data[arrary_num_visa].PROD_SUB_PRICE).ToString(), System.Globalization.NumberStyles.AllowThousands | System.Globalization.NumberStyles.AllowDecimalPoint);}
                                                            成人<span class="text-orange">@prod_visa_price_d</span>元
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                                 }
                                 @if (Model.insu_count > 0)
                                 { 
                                <!-- 區塊3 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="panel4">
                                        <h4 class="panel-title">
                                            <a href="#ccc_@total_passenger_count" data-parent="#accordion4" data-toggle="collapse" role="button" class="collapsed" aria-expanded="false" aria-controls="ccc_@total_passenger_count">
                                                航空
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="ccc_@total_passenger_count" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel4">
                                        <div class="panel-body">

                                            @for (int i = 0; i < Model.insu_count; i = i + 1)
                                            {
                                                var check_box_num_insu = i + Model.pusb_count + Model.visa_count;
                                                int arrary_num_insu = int.Parse(insu_list[i]);

                                                <div class="addItem">
                                                    <div class="row mb-20">
                                                        <div class="col-xs-12 col-sm-8">
                                                            <input class="star-input" type="checkbox" id="add_@check_box_num_insu-@k" name="payment3" value="" onchange="checkBox_insu('@Html.DisplayFor(modelitem => i),@Html.DisplayFor(modelitem => arrary_num_insu),@Html.DisplayFor(modelitem => total_passenger_count)')">
                                                            <label for="add_@check_box_num_insu-@k"></label>@Html.DisplayFor(model => model.grpaddpurchase_result.Data[arrary_num_insu].PROD_SUB_NAME).ToString()
                                                        </div>
                                                        <div class="addItem-price col-xs-12 col-sm-4">
                                                            @{ int prod_insu_price_d = int.Parse(Html.DisplayFor(model => model.grpaddpurchase_result.Data[arrary_num_insu].PROD_SUB_PRICE).ToString(), System.Globalization.NumberStyles.AllowThousands | System.Globalization.NumberStyles.AllowDecimalPoint);}
                                                            成人<span class="text-orange">@prod_insu_price_d</span>元
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                                 }


                            </div>

                        </div>
                   
                </div>
                           total_passenger_count = total_passenger_count + 1;
                  }//room_count
                }//if(room_no)
                  total_room = total_room + 1;
             }//for 
           } 
            <input type="hidden" id="total_people_hidden" name="total_people_hidden" value="@total_passenger_count">
            <input type="hidden" id="pusb_count_hidden" name="pusb_count_hidden" value="@Model.pusb_count">
            <input type="hidden" id="visa_count_hidden" name="visa_count_hidden" value="@Model.visa_count">
            <input type="hidden" id="insu_count_hidden" name="insu_count_hidden" value="@Model.insu_count">
            <input type="hidden" id="room_count_hidden" name="room_count_hidden" value="@Model.room_count">
            <input type="hidden" id="pusb_array_hidden" name="pusb_array_hidden" value="@Model.psub_list">
            <input type="hidden" id="visa_array_hidden" name="visa_array_hidden" value="@Model.visa_list">
            <input type="hidden" id="insu_array_hidden" name="insu_array_hidden" value="@Model.insu_list">
            <input type="hidden" id="prod_no_hidden" name="prod_no_hidden" value="@Model.grpproductdetail_result.Data.PROD_NO">
            <input type="hidden" id="grp_no_hidden" name="grp_no_hidden" value="@Model.grpproductdetail_result.Data.GRP_NO">
            <input type="hidden" id="member_no_hidden" name="member_no_hidden" value="@Model.member_number">
        </div>
    </div>
    <div class="content content-gray">
    </div>
    <div class="content content-white">
        <div class="star-container">

            <!-- 聯絡人資料 -->
            <div class="mb-20">
                <span class="text-purple text-bold h3">聯絡人資料</span>
                <div class="contactInfo-btn">
                    <input class="star-input" type="checkbox" id="contactInfo01" name="" value="" onclick="contactinfo_click('@Model.member_info')">
                    <label for="contactInfo01"></label>行程聯絡人同會員本人
                    <input type="hidden" id="contactInfo_hidden" name="contactInfo_hidden" value="0">
                </div>
                <span class="text-orange">*為必填</span>
               
                    <div class="row mt-20">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label>中文姓名 <span class="text-orange">*</span></label>
                                <div class="star-input-group input-group">
                                    <input type="text" class="form-control cont-name-1" id="contact_c_first_name" name="contact_c_first_name" placeholder="姓">
                                    <input type="text" class="form-control cont-name-2" id="contact_c_last_name" name="contact_c_last_name"  placeholder="名">
                                </div>
                                <div class="err-text">請連寫聯絡資料</div>
                            </div>

                        </div>
                    </div>
                    <div class="row mb-20 phone">
                        <div class="col-xs-12 col-sm-12 mb-10">
                            聯絡電話(至少填寫兩個) <span class="text-orange">*</span>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label>行動電話</label>
                                <input type="text" class="form-control" id="contact_mobile" name="contact_mobile" placeholder="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label>住家電話 <span class="text-orange">*</span></label>
                                <input type="text" class="form-control" id="contact_h_phone" name="contact_h_phone" placeholder="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label>公司電話 <span class="text-orange">*</span></label>
                                <input type="text" class="form-control" id="contact_o_phone" name="contact_o_phone" placeholder="">
                            </div>
                        </div>
                        <div class="err-text">
                            至少需填兩組電話
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <!--<input class="star-input" type="radio" id="contact01" name="contact" value="deposit">-->
                            <label for="contact01"></label><span class="text-18 text-bold">email</span>
                            <input class="star-input" type="text" id="contact_email" name="contact_email" placeholder="請輸入Ｅmail">
                        </div>
                        <div class="mb-20 col-xs-12 col-sm-4">
                            <!--<input class="star-input" type="radio" id="contact02" name="contact" value="deposit">-->
                            <label for="contact02"></label><span class="text-18 text-bold">電話聯繫，方便聯繫時段：</span>
                            <select class="star-select " id="contact_time_select">
                                <option value="0">09:00-12:00</option>
                                <option value="1">12:00-18:00</option>
                                <option value="2">18:00-21:00</option>
                            </select>
                            <input type="hidden" id="contact_time" name="contact_time" value="0">
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>備註</label>
                            <input type="textarea" class="form-control star-input" id="contact_note" name="contact_note" placeholder="">
                        </div>
                    </div>
               
            </div>



        </div>
    </div>
    
    <div class="content content-white">
        <div class="star-container">

            <!-- 收據資料 -->
            <div class="mb-20">
                <span class="text-purple text-bold h3">收據資料</span>
                <span class="text-orange ml-20">本公司依財政部台財稅第821481937號函，僅提供代收轉付收據供旅客記帳之用，不另開立統一發票</span>

               
                    
                    <div class="mt-10">
                        <input class="star-input" type="radio" id="receipt02" name="receipt" value="deposit">
                        <label for="receipt02"></label><span class="text-18 text-bold">開立代收轉付收據</span>
                        <div class="mt-10 pl-30">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label>公司抬頭</label>
                                        <input type="text" class="form-control" placeholder="" id="company_title" name="company_title">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label>統一編號</label>
                                        <input type="text" class="form-control" placeholder="" id="uniform_numbers" name="uniform_numbers">
                                    </div>
                                </div>
                            </div>
                            <span class="text-gray">* 報帳資料會寄送至同上欄填寫的收件地址</span>
                            <br><br>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label>收件人</label>
                                        <input type="text" class="form-control" placeholder="" id="recipients" name="recipients">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label>收件地址：</label>
                                        <input type="text" class="form-control" placeholder="" id="recipients_address" name="recipients_address">
                                    </div>
                                </div>
                            </div>
                            <span class="text-gray">* 依法令規定：非行程旅客不得當代轉收據之買受人</span>
                        </div>

                    </div>
               
            </div>


        </div>
    </div>
    <div class="content content-gray">
    </div>
    <div class="content content-white">
        <div class="star-container">

            <!-- 取件方式 -->
            <div class="mb-20">
                <span class="text-purple text-bold h3">取件方式</span>
                    <div class="mt-10">
                        <input class="star-input" type="radio" id="receipt01" name="receipt2" value="deposit">
                        <label for="receipt01"></label><span class="text-18 text-bold">不用寄送代收轉付收據</span>
                        <div class="text-gray mt-10 pl-30">
                            *本公司將依法開立並保留，如日後需求，請來電02-81783000或服務信箱：service@startravel.com.tw，開立後若需要修改「抬頭」，請檢附相關證明(如名片、識別證等)以玆修改作業。恕無法開立提供非旅客本人外之第三者使用。
                        </div>
                    </div>

                    <div class="mt-10">
                        <input class="star-input" type="radio" id="receipt03" name="receipt2" value="deposit">
                        <label for="receipt03"></label><span class="text-18 text-bold">到店自取</span>
                        <div class="mt-10 pl-30">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        @Html.DropDownList("store_item", (IEnumerable<SelectListItem>)ViewBag.Selectstore,  new { id = "store_item", onchange = "droplist_select_store()" })
                                        <input type="hidden" id="receipt_store_item" name="receipt_store_item" value="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control store_address" id="receipt_store_address" name="receipt_store_address" placeholder="" value="@Model.orderstore_result.Data[0].Dept_Address">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <input class="star-input" type="radio" id="receipt04" name="receipt2" value="deposit">
                        <label for="receipt04"></label><span class="text-18 text-bold">掛號寄送</span>
                        <div class="mt-10 pl-30">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label>收件人</label>
                                        <input type="text" class="form-control" placeholder="" id="registered" name="registered">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label>收件地址：</label>
                                        <input type="text" class="form-control" placeholder="" id="registered_address" name="registered_address">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>


        </div>
    </div>
    <div class="content content-gray">
    </div>
    <div class="content content-white">
        <div class="star-container">

            <!-- 其他協助事項 -->
            <div class="mb-40">
                <span class="text-purple text-bold h3">其他協助事項</span>
                <p class="mt-10">我們將為您轉達，實際服務以飯店現場安排與航空公司提供為準 ，恕不保證請見諒</p>
                <div class="pl-30">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="form-group">
                                <input type="textarea" class="form-control star-input" placeholder="其他需求" id="order_note" name="order_note">
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <input type="hidden" id="passengerInfo_first_c_name_array" name="passengerInfo_first_c_name_array" >
            <input type="hidden" id="passengerInfo_last_c_name_array" name="passengerInfo_last_c_name_array">
            <input type="hidden" id="passengerInfo_first_e_name_array" name="passengerInfo_first_e_name_array">
            <input type="hidden" id="passengerInfo_last_e_name_array" name="passengerInfo_last_e_name_array">
            <input type="hidden" id="passengerInfo_sex_array" name="passengerInfo_sex_array">
            <input type="hidden" id="passengerInfo_id_array" name="passengerInfo_id_array">
            <input type="hidden" id="passengerInfo_birthday_array" name="passengerInfo_birthday_array">
            <input type="hidden" id="passengerInfo_food_array" name="passengerInfo_food_array">
            <input type="hidden" id="passengerInfo_prod_sub_array" name="passengerInfo_prod_sub_array">
            <input type="hidden" id="passengerInfo_room_type_array" name="passengerInfo_room_type_array">
            <input type="submit" id="subit" style="display: none;" />


           


            <!-- 下一步 -->
            <div class="goNext mb-20 hidden-xs">
                <a class="goBackBtn" href="javascript:;" title="">
                    上一步
                </a>
                <a class="goNextBtn" href="javascript:;" title="" onclick="order_click('@Html.DisplayFor(modelitem => total_passenger_count)')">
                    送出訂單資料
                </a>
            </div>
        </div>
    </div>




    <!-- 下一步-M -->
    <div class="mobile-goNext">
        <a href="javascript:;" title="" onclick="order_click('@Html.DisplayFor(modelitem => total_passenger_count)')">
            送出訂單資料
        </a>
        <div class="clear"></div>
    </div>


    <script type="text/javascript">

        $(document).ready(function () {

            var total_people_count=$('#total_people_hidden').val();
            if(parseInt(total_people_count)==1)
            {
                $('#addAll').attr("disabled","disabled")
            }


        });

        function contactinfo_click(k){

            console.log(k);
            var member_NewArray = new Array();
            var checked_box_value=  $('#contactInfo01').is(':checked');

            member_NewArray=k.split(",");
            var member_c_f_name=member_NewArray[0].slice(0,1);
            var member_c_l_name=member_NewArray[0].slice(1,3);
            var member_email=member_NewArray[1];
            
            if(checked_box_value==true)
            {
                console.log(member_c_f_name);
                console.log(member_c_l_name);
                console.log(member_email);
                  $('#contact_c_first_name').val(member_c_f_name);
                  $('#contact_c_last_name').val(member_c_l_name);
                  $('#contact_email').val(member_email);
            }
            //co Session["user_name"];
        }

        function add_passengerlist(k){

            var add_passenger_no="#add_"+k;
            console.log(add_passenger_no);
            current_state=   $(add_passenger_no).val();
            if(current_state=="0")
            {
                $(add_passenger_no).val("1");

            }else{

                $(add_passenger_no).val("0");

            }
          
            console.log(  $(add_passenger_no).val());

        }




        function order_click(k){

            var cus_name_c_first_array=[];
            var cus_name_c_last_array=[];
            var cus_name_e_first_array=[];
            var cus_name_e_last_array=[];
            var cus_sex_array=[];
            var cus_id_array=[];
            var cus_birthday_array=[];
            var cus_food_array=[];

            var cus_room_type_array=[];


            //pusb
            var pusb_count=$('#pusb_count_hidden').val();
            var visa_count=$('#visa_count_hidden').val();
            var insu_count=$('#insu_count_hidden').val();

            var cus_prod_sub_list=[];    ///   {   ,  ,    ,   |    , ,     |      }
                                                        ///      pusb          visa          insu

              
            var i=0;

           
            // *********///ervery_passenger     passengerInfo
            for(i=0;i<parseInt(k);i=i+1)
            {

               
                var passengerInfo_first_c_name_no= ".passengerInfo_first_c_name_"+i;
                var passengerInfo_last_c_name_no= ".passengerInfo_last_c_name_"+i;
                var passengerInfo_first_e_name_no= ".passengerInfo_first_e_name_"+i;
                var passengerInfo_last_e_name_no= ".passengerInfo_last_e_name_"+i;
                var passengerInfo_sex_no= ".passengerinfo_sex_"+i;
                var passengerInfo_id_no= ".passengerInfo_id_no_"+i;
                var passengerInfo_birthday_no= ".passengerInfo_birthday_"+i;
                var passengerInfo_food_no= ".passengerInfo_food_"+i;
                var passengerInfo_room_type_no= "#room_type_"+i;

                cus_name_c_first_array.push($(passengerInfo_first_c_name_no).val());
                cus_name_c_last_array.push($(passengerInfo_last_c_name_no).val());
                cus_name_e_first_array.push($(passengerInfo_first_e_name_no).val());
                cus_name_e_last_array.push($(passengerInfo_last_e_name_no).val());
                cus_sex_array.push($(passengerInfo_sex_no).val());
                cus_id_array.push($(passengerInfo_id_no).val());
                cus_birthday_array.push($(passengerInfo_birthday_no).val());
                cus_food_array.push($(passengerInfo_food_no).val());
                cus_room_type_array.push($(passengerInfo_room_type_no).val())

                //pusb
                for(var j=0;j<pusb_count;j=j+1)
                {
                    var checked_box_no="#add_"+j+"_pusb_"+i;
                    var checked_box_value=  $(checked_box_no).is(':checked');
                    if(checked_box_value==true)
                    {

                        cus_prod_sub_list.push(1);

                    }else{

                        cus_prod_sub_list.push(0);
                    }


                }

                //visa
                for(var j=0;j<visa_count;j=j+1)
                {
                    var checked_box_no="#add_"+j+"_visa_"+i;
                    var checked_box_value=  $(checked_box_no).is(':checked');
                    if(checked_box_value==true)
                    {

                        cus_prod_sub_list.push(1);

                    }else{

                        cus_prod_sub_list.push(0);
                    }


                }

                //insu
                for(var j=0;j<insu_count;j=j+1)
                {
                    var checked_box_no="#add_"+j+"_insu_"+i;
                    var checked_box_value=  $(checked_box_no).is(':checked');
                    if(checked_box_value==true)
                    {

                        cus_prod_sub_list.push(1);

                    }else{

                        cus_prod_sub_list.push(0);
                    }
                }
            }
            // *********ervery_passenger     passengerInfo

            //contact_info
            var contact_time_value=$('#contact_time_select').val();
            $('#contact_time').val(contact_time_value);


            $('#passengerInfo_first_c_name_array').val(cus_name_c_first_array);
            $('#passengerInfo_last_c_name_array').val(cus_name_c_last_array);
            $('#passengerInfo_first_e_name_array').val(cus_name_e_first_array);
            $('#passengerInfo_last_e_name_array').val(cus_name_e_last_array);
            $('#passengerInfo_sex_array').val(cus_sex_array);
            $('#passengerInfo_id_array').val(cus_id_array);
            $('#passengerInfo_birthday_array').val(cus_birthday_array);
            $('#passengerInfo_food_array').val(cus_food_array);      
            $('#passengerInfo_room_type_array').val(cus_room_type_array);
            $('#passengerInfo_prod_sub_array').val(cus_prod_sub_list);

            console.log(cus_name_c_first_array);
            console.log(cus_name_c_last_array);
            console.log(cus_name_e_first_array);
            console.log(cus_name_e_last_array);
            console.log(cus_sex_array);
            console.log(cus_id_array);
            console.log(cus_birthday_array);
            console.log(cus_food_array);
            console.log(cus_prod_sub_list);
            console.log($('#contact_time').val());
            console.log($('#ch_name_2'))
            let err = false
            let id_arr = []
            $('.err-text').hide()
            $('.err').removeClass('err')
            $('.ch_name_1, .ch_name_2').each(function(){
                if($(this).val() =="" ){
                    $(this).addClass('err').siblings('.err-text').show()
                    err = true
                }
            })

            $('.en_name_1, .en_name_2').each(function(){
                if($(this).val() =="" ){
                    $(this).addClass('err').siblings('.err-text').show()
                    err = true
                }
            })

            $('.id_num').each(function(){
                if($(this).val() ==""){
                    $(this).addClass('err').siblings('.err-text').text("請填寫身分證字號").show()
                    err = true
                }
                if ($(this).val().search(/^[A-Z](1|2)\d{8}$/i) == -1) {
                    $(this).addClass('err').siblings('.err-text').text("身分證字號格式錯誤").show()
                    err = true
                }
                if (id_arr.indexOf($(this).val()) == -1) {
                    id_arr.push($(this).val())
                } else {
                    $(this).addClass('err').siblings('.err-text').text("身分證字號重複").show()
                    err = true
                }
            })
            $('.birthday').each(function() {
                if ($(this).val() ==""){
                    $(this).addClass('err').siblings('.err-text').text("請填寫生日").show()
                    err = true
                }
                else if ($(this).val().search(/^(\d{4})\/(\d{1,2})\/(\d{1,2})$/) == -1){
                    $(this).addClass('err').siblings('.err-text').text("生日格式錯誤,格式YYYY/MM/DD").show()
                    err = true
                }
            })
            $('.phone').each(function() {
                let counter = 0
                $(this).find('input').each(function() {
                    if($(this).val() == "")
                    {}
                    else counter++;
                })
                if (counter == 0) {
                    $(this).find('.err-text').show()
                    err = true
                }
            })
            if($('.cont-name-1').val() =="") {
                $('.cont-name-1').parent().siblings('.err-text').show()
                err= true
            }
            if($('.cont-name-2').val() =="") {
                $('.cont-name-2').parent().siblings('.err-text').show()
                err= true
            }
            //$('#orderForm').submit();
            if(!err)
                document.getElementById('subit').click()
            //passengerInfo
        }
        $('.birthday').change(function() {
            if ($(this).val() ==""){
                $(this).addClass('err').siblings('.err-text').text("請填寫生日").show()
            }
            else if ($(this).val().search(/^(\d{4})\/(\d{1,2})\/(\d{1,2})$/) == -1){
                $(this).addClass('err').siblings('.err-text').text("生日格式錯誤,格式YYYY/MM/DD").show()
            } else {$(this).removeClass('err').siblings('.err-text').hide()}
        })
        $('.id_num').change(function(){
            if($(this).val() ==""){
                $(this).addClass('err').siblings('.err-text').text("請填寫身分證字號").show()
            }
            else if ($(this).val().search(/^[A-Z](1|2)\d{8}$/i) == -1) {
                $(this).addClass('err').siblings('.err-text').text("身分證字號格式錯誤").show()
            }
            else { $(this).removeClass('err').siblings('.err-text').hide()}
        })

        $('.id_num').change(function() {
            let match = $(this).val().match(/^[A-Z](1|2)\d{8}$/i)
            if(match)
                if (match[1]==1) {
                    $(this).parent().siblings('.form-group').find('.sex').val("1")
                }
                if (match[1]==2) {
                    $(this).parent().siblings('.form-group').find('.sex').val("0")
                }
        })

        $('#orderForm').submit(function() {
        
            var store_item = $('#store_item').val();

            $('#receipt_store_item').val(store_item);
            return true;
        });


    </script>
    <style>
        .err {
            border:solid 1px red !important;
        }
        .err-text {
            color: red;
            display: none;
        }
    </style>

    <script type="text/javascript">

        function droplist_select_store() {
            var total_number=0;
            var ary = @Html.Raw(Json.Encode(Model.orderstore_result.Data));
            total_number =parseInt($('#store_item').val());
           
                $('.store_address').val(ary[total_number].Dept_Address);
            
        }
    </script>


    <script type="text/javascript">
        var ary = @Html.Raw(Json.Encode(Model.grpaddpurchase_result.Data));
       
        function checkBox_pusb(k){

            var NewArray = new Array();
            var totalcost_pusb=$();

            NewArray=k.split(",");
            //console.log(k);
            var checked_box_no="#add_"+NewArray[0]+"_pusb_"+NewArray[2];
            var checked_box_value=  $(checked_box_no).is(':checked');
            var allcost_no="#addAllcost_"+NewArray[2];
            var allcost_hidden_no="#addallcost_hidden_"+NewArray[2];
            var totalcost_pusb=$(allcost_hidden_no).val();
            var finaltotalcost_pusb=0;


            ///new add
            var total_people_count=$('#total_people_hidden').val();
            //var pusb_count=$('#pusb_count_hidden').val();
            var addall_state=$('#addall_hidden').val();


           
                  if(checked_box_value==true)
                  {
                       $(checked_box_no).attr("checked","checked");
                       finaltotalcost_pusb= parseInt(totalcost_pusb)+ary[parseInt(NewArray[1])].PROD_SUB_PRICE;

                   }else{
                      $(checked_box_no).removeAttr("checked");
                      finaltotalcost_pusb= parseInt(totalcost_pusb)-ary[parseInt(NewArray[1])].PROD_SUB_PRICE;

                  }        
            // totalcost= ary[parseInt(k)].PROD_SUB_PRICE;
            $(allcost_hidden_no).val(finaltotalcost_pusb);
            $(allcost_no).find('span').html(finaltotalcost_pusb);
          


        }


        function checkBox_visa(k){

            var NewArray = new Array();
            var totalcost_visa=$();

            NewArray=k.split(",");
            console.log(k);
            var checked_box_no="#add_"+NewArray[0]+"_visa_"+NewArray[2];
            var checked_box_value=  $(checked_box_no).is(':checked');
            var allcost_no="#addAllcost_"+NewArray[2];
            var allcost_hidden_no="#addallcost_hidden_"+NewArray[2];
            var totalcost_visa=$(allcost_hidden_no).val();
            var finaltotalcost_visa=0;
            
           // console.log(totalcost_pusb);
           // console.log(NewArray[0]);
            console.log(NewArray[1]);
            //// console.log(checked_box_value);
            // var check_value=$(this).val()
            if(checked_box_value==true)
            {
                $(checked_box_no).attr("checked","checked");
                finaltotalcost_visa= parseInt(totalcost_visa)+ary[parseInt(NewArray[1])].PROD_SUB_PRICE;

            }else{
                $(checked_box_no).removeAttr("checked");
                finaltotalcost_visa= parseInt(totalcost_visa)-ary[parseInt(NewArray[1])].PROD_SUB_PRICE;

            }
           
            // totalcost= ary[parseInt(k)].PROD_SUB_PRICE;
            $(allcost_hidden_no).val(finaltotalcost_visa);
            $(allcost_no).find('span').html(finaltotalcost_visa);
        }

        function checkBox_insu(k){

            var NewArray = new Array();
            var totalcost_insu=$();

            NewArray=k.split(",");
            console.log(k);
            var checked_box_no="#add_"+NewArray[0]+"_insu_"+NewArray[2];
            var checked_box_value=  $(checked_box_no).is(':checked');
            var allcost_no="#addAllcost_"+NewArray[2];
            var allcost_hidden_no="#addallcost_hidden_"+NewArray[2];
            var totalcost_insu=$(allcost_hidden_no).val();
            var finaltotalcost_insu=0;
            
            // console.log(totalcost_pusb);
            // console.log(NewArray[0]);
            //console.log(NewArray[1]);
            //// console.log(checked_box_value);
            // var check_value=$(this).val()
            if(checked_box_value==true)
            {
                $(checked_box_no).attr("checked","checked");
                finaltotalcost_insu= parseInt(totalcost_insu)+ary[parseInt(NewArray[1])].PROD_SUB_PRICE;

            }else{
                $(checked_box_no).removeAttr("checked");
                finaltotalcost_insu= parseInt(totalcost_insu)-ary[parseInt(NewArray[1])].PROD_SUB_PRICE;

            }
           
            // totalcost= ary[parseInt(k)].PROD_SUB_PRICE;
            $(allcost_hidden_no).val(finaltotalcost_insu);
            $(allcost_no).find('span').html(finaltotalcost_insu);
        }




        $('#accordion3.add_pannel_0 input').change(function() {
            console.log('ww')
            if($('#addAll').is(':checked')) {
                addall_click()
            }
        })

        $('.add_panel:not(.add_pannel_0) input').change(function() {
            $('#addAll').prop('checked', false)
        })


        function addall_click(){
            let getter = $('#accordion3.add_pannel_0 input')
            if ($('#addAll').is(':checked')) {
                $('.add_panel:not(.add_pannel_0)').each(function() {
                    let t = this
                    getter.each(function(i) {
                        if ($(this).is(':checked') != $(t).find('input').eq(i).is(':checked'))
                            $(t).find('input').eq(i).click()
                        //$(t).find('input').eq(i).prop('checked', $(this).is(':checked')).change()
                        //if ($(this).is(':checked'))
                        //    $(t).find('input').eq(i).prop('checked', true)
                        //else 
                        //    $(t).find('input').eq(i).prop('checked', false)
                    })
                    $('#addAll').prop('checked', true)
                })
            }

            /*var total_people_count=$('#total_people_hidden').val();
            var pusb_count=$('#pusb_count_hidden').val();
            var visa_count=$('#visa_count_hidden').val();
            var insu_count=$('#insu_count_hidden').val();
            var addall_state=$('#addall_hidden').val();
            var allcost_hidden_no="#addallcost_hidden_0";
            //var allcost_no="#addAllcost_0";
            var totalcost_0=$(allcost_hidden_no).val();
            console.log(addall_state);

            if(parseInt(addall_state)==0)  //current_state==false
            {

                for(var i=1;i<parseInt(total_people_count);i=i+1) 
                {
                    var allcost_hidden_no_other="#addallcost_hidden_"+i;
                    var allcost_no_other="#addAllcost_"+i;
                    //pusb
                    for(var j=0;j<parseInt(pusb_count);j=j+1)
                    {
                        var checked_box_no="#add_"+j+"_pusb_0";
                        var checked_box_value=  $(checked_box_no).is(':checked');
                        var checked_box_other_no="#add_"+j+"_pusb_"+i;
                        if(checked_box_value==true)
                        {
                            console.log(checked_box_value);
                            console.log(checked_box_other_no);
                            $(checked_box_other_no).attr("checked","checked");

                        }else{

                           
                            $(checked_box_other_no).removeAttr("checked")
                        }

                        $(checked_box_other_no).attr("disabled","disabled");
                    }

                        //visa
                    for(var j=0;j<parseInt(visa_count);j=j+1)
                    {
                        var checked_box_no="#add_"+j+"_visa_0";
                        var checked_box_value=  $(checked_box_no).is(':checked');
                        var checked_box_other_no="#add_"+j+"_visa_"+i;
                        if(checked_box_value==true)
                        {
                           
                            $(checked_box_other_no).attr("checked","checked");

                        }else{

                           
                            $(checked_box_other_no).removeAttr("checked")
                        }
                        $(checked_box_other_no).attr("disabled","disabled");
                    }

                            //insu
                            for(var j=0;j<parseInt(insu_count);j=j+1)
                            {
                                var checked_box_no="#add_"+j+"_insu_0";
                                var checked_box_value=  $(checked_box_no).is(':checked');
                                var checked_box_other_no="#add_"+j+"_insu_"+i;
                                if(checked_box_value==true)
                                {
                           
                                    $(checked_box_other_no).attr("checked","checked");

                                }else{

                           
                                    $(checked_box_other_no).removeAttr("checked")
                                }
                                $(checked_box_other_no).attr("disabled","disabled");
                            }


                   
                            $(allcost_no_other).find('span').html(totalcost_0);
                            $(allcost_hidden_no_other).val(totalcost_0);
                   
                }
                $('#addall_hidden').val("1");
                
                $('#addAll').attr("checked","checked");

            }else{   //current_state==true

               
                 
                for(var i=1;i<parseInt(total_people_count);i=i+1) 
                {
                    var allcost_hidden_no_other="#addallcost_hidden_"+i;
                    var allcost_no_other="#addAllcost_"+i;
                    //pusb
                    for(var j=0;j<parseInt(pusb_count);j=j+1)
                    {
                       
                        var checked_box_other_no="#add_"+j+"_pusb_"+i;
                      
                        $(checked_box_other_no).removeAttr("disabled");
                    }

                    //visa
                    for(var j=0;j<parseInt(visa_count);j=j+1)
                    {
                      
                        var checked_box_other_no="#add_"+j+"_visa_"+i;
                       
                        $(checked_box_other_no).removeAttr("disabled");
                    }

                    //insu
                    for(var j=0;j<parseInt(insu_count);j=j+1)
                    {
                        
                        var checked_box_other_no="#add_"+j+"_insu_"+i;
                       
                        $(checked_box_other_no).removeAttr("disabled");
                    }

                    $(allcost_no_other).find('span').html(totalcost_0);
                    $(allcost_hidden_no_other).val(totalcost_0);

                }
                $('#addAll').removeAttr('checked');
                $('#addall_hidden').val("0");
            }
           */
        }

    </script>





    <script type="text/javascript">

        function droplist_select(k) {
            var total_count = 0;

            var ary = @Html.Raw(Json.Encode(Model.passengercontacts_get_result.Data));
            var ary_item="#passenget_item_"+k;
            var ary_passengerInfo_first_c_name=".passengerInfo_first_c_name_"+k;
            var ary_passengerInfo_last_c_name=".passengerInfo_last_c_name_"+k;
            var ary_passengerInfo_first_e_name=".passengerInfo_first_e_name_"+k;
            var ary_passengerInfo_last_e_name=".passengerInfo_last_e_name_"+k;
            var ary_passengerinfo_sex=".passengerinfo_sex_"+k;
            var ary_passengerInfo_id_no=".passengerInfo_id_no_"+k;
            var ary_passengerInfo_birthday=".passengerInfo_birthday_"+k;
            total_count =parseInt($(ary_item).val());
            if(total_count==null)
            {

            }else{
                $(ary_passengerInfo_first_c_name).val(ary[total_count].NAME_C_FIRST);
                $(ary_passengerInfo_last_c_name).val(ary[total_count].NAME_C_LAST);
                $(ary_passengerInfo_first_e_name).val(ary[total_count].NAME_E_FIRST);
                $(ary_passengerInfo_last_e_name).val(ary[total_count].NAME_E_LAST);
                if(ary[total_count].SEX==null){
                    $(ary_passengerinfo_sex).val(1);
                }else{
                    $(ary_passengerinfo_sex).val(ary[total_count].SEX);
                }

                $(ary_passengerInfo_id_no).val(ary[total_count].ID_NO);

                if(ary[total_count].BIRTHDAY==null){
                    // $('.passengerInfo_birthday').val(0);
                }else{
                    var formattedDate_s=ary[total_count].BIRTHDAY;
                    // var formattedDate = Date.parse(formattedDate_s);
                    //var formattedDate=formattedDate_s;
                    //var d = formattedDate.getDate();
                    //var m = formattedDate.getMonth();
                    // m += 1;//JavaScript months are 0-11
                    //var y = formattedDate.getFullYear();

                    $(ary_passengerInfo_birthday).val(formattedDate_s);
                }
            }
            // current_count = parseInt($(this).val());
            //current_cost = parseInt( $(this).parent().siblings('.text-center').children('.text-orange2').text());
            // total_cost += current_count * current_cost;
            console.log(ary[total_count].BIRTHDAY);
            //


        };

    </script>








    <!-- footer======================================================================= -->
    <div class="footer">
        <!-- award -->
        <div class="footerAward">
            <div class="star-container">
                <ul>
                    <li>
                        <a href="javascript:;" title="">
                            <img src="~/Content/images/award-01.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">
                            <img src="~/Content/images/award-02.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">
                            <img src="~/Content/images/award-03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">
                            <img src="~/Content/images/award-04.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- footermenu -->
        <div class="footerMenu">
            <div class="star-container">
                <ul>
                    <li>
                        <a href="javascript:;" title="">關於燦星</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">交易安全</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">隱私權條款</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">FAQ</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">策略聯盟</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">菁英募集</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">企業商務</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">福委會</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">寫信給我們</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">網站導覽</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">陸客來台</a>
                    </li>
                    <li>
                        <a href="javascript:;" title="">防詐騙聲明</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- footerContent -->
        <div class="footerContent">
            <div class="star-container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <a class="footerPhone" href="tel:0281783000" title="">訂購諮詢專線：(02)8178-3000</a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a class="footerPhone" href="tel:024128686" title="">全台門市訂購專線：(02)412-8686</a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a class="footerPhone" href="tel:0227900550" title="">企業服務專線：(02)2790-0550</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <strong class="footerContentTitle">燦星國際旅行社股份有限公司</strong>
                        總公司：<a href="javascript:;" target="_blank">台北市內湖區堤頂大道一段331號4樓</a><br>
                        訂購諮詢電話：<a href="tel:0281783000">(02)8178-3000</a><br>
                        || 週六日/ 國定假日 AM09:00~PM19:00 ||<br>
                        || 平日 週一 ~ 週五 AM08:00~AM02:00 ||<br>
                        傳真電話：070-10168-965<br>
                        客服信箱：<a href="mailto:service@startravel.com.tw">service@startravel.com.tw</a>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <strong class="footerContentTitle">全台服務據點</strong>
                        代表門市<br>
                        台北寧夏店 (02)2556-1226<br>
                        台北南京旗艦店 (02)6608-8155<br>
                        新北蘆洲門市 (02)2281-6076<br>
                        新北土城門市 (02)8261-6403<br>
                        桃園八德門市 (03)361-8368<br>
                        新竹竹科門市 (03)578-5377<br>
                        苗栗竹南門市 (037)550-545<br>
                        台中門市 (04)3600-6799<br>
                        台南永華店 (06)293-3200<br>
                        高雄門市 (07)969-6618
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <strong class="footerContentTitle">企業服務 </strong>
                        服務項目：獎勵旅遊、商務差旅、員工旅遊、自組一團、公家機關<br>
                        專線：(02)2790-0550、(02)81783000#8151<br>
                        信箱：mice01@startravel.com.tw <br>
                        週一~週五 AM9:00-PM18:00<br>
                        <br>
                        <strong class="footerContentTitle">同業聯絡</strong>
                        <a href="http://goo.gl/ZEItJe" title="" target="_blank">http://goo.gl/ZEItJe</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- footerCertification -->
        <div class="footerCertification">
            <div class="star-container">
                <ul>
                    <li>
                        <a class="footer-icon01" href="javascript:;" title="" target="_blank"></a>
                    </li>
                    <li>
                        <a class="footer-icon02" href="javascript:;" title="" target="_blank"></a>
                    </li>
                    <li>
                        <a class="footer-icon03" href="javascript:;" title="" target="_blank"></a>
                    </li>
                    <li>
                        <a class="footer-icon04" href="javascript:;" title="" target="_blank"></a>
                    </li>
                    <li>
                        <a class="footer-icon05" href="javascript:;" title="" target="_blank"></a>
                    </li>
                    <li>
                        <a class="footer-icon06" href="javascript:;" title="" target="_blank"></a>
                    </li>
                    <li>
                        <a class="footer-icon07" href="javascript:;" title="" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- footerCopyright -->
        <div class="footerCopyright">
            <div class="star-container">
                ‧代表人：陳彥君 ‧聯絡人：鐘長利  綜合旅行社‧交觀綜字第2136號‧旅行社品質保障協會100字第北1819號 © 燦星旅遊版權所有盜用必究　All Rights Reserved.
            </div>
        </div>

    </div>














    <!-- footer-mobile=============================================================== -->
    <div class="footer-mobile">
        <div>
            代表人：陳彥君 / 聯絡人：鐘長利<br>
            綜合旅行社 / 交觀綜字第2136號 / 旅行社品質保障協會100字第北1819號<br>
            © 燦星旅遊版權所有盜用必究 All Rights Reserved.
        </div>
    </div>






    <!-- gotoTop==================================================================== -->
    <div class="gotoTop">
        <a href="javascript:;" id="topBTN">
            <img src="~/Content/images/gotoTop.png" alt="">
        </a>
    </div>

}
</body>

</html>